

<patient_details></patient_details>  
<div tabs>
        <div class='tabView center-block'>
                <div class="tabs">
                        <ul id="nav-bar">
                            <li routerLinkActive="active" routerLink="/emergency_drugs/resus_drugs">Resus Drug</li>
                            <li routerLinkActive="active" routerLink="/emergency_drugs/intubation">Intubation</li>
                            <li routerLinkActive="active" routerLink="/emergency_drugs/infusion">Infusion</li>
                            <li routerLinkActive="active" routerLink="/emergency_drugs/arrythmias">Arrythmias</li>
                        </ul>
                    </div>
                    <div class="main-content">
                            <router-outlet></router-outlet>
                    </div>
                    <div class="btnSection">
                        <button class="picuBtn" routerLink="/emergency_drugs/print">Show All</button>
                        <button class="picuBtn" (click)="print()">Print...</button>
                    </div>
        </div>
</div>




