     
<form #entryForm="ngForm" class="inputTable">
        <div class="tabs">
                <ul>
                  <li [class.active]="tab==1" (click)="tab=1" class="active">
                    Emergency Drugs
                  </li>
                  <li [class.active]="tab==2" (click)="tab=2">
                    DKA
                  </li>
                  <li [class.active]="tab==3" (click)="tab=3">
                    Fluids
                  </li>
                </ul>
              </div>
  <div class='inputs'>
    <table>
      <tr>
        <td>
          <b>Patient Name</b>
        </td>
        <td>
          <input placeholder="Add name" type="text" name="patientName" [(ngModel)]="local.patientName">
        </td>
      </tr>
      <tr>
        <td>
          <b>Date Of Birth</b>
        </td>
        <td>
          <input placeholder="12/02/2016" type="date" name="patientDOB" [(ngModel)]="local.patientDOB">
        </td>
      </tr>
      <tr>
        <td>
          <b>Hospital Number</b>
        </td>
        <td>
          <input placeholder="Add Number" type="number" name="hospitalNo" [(ngModel)]="local.hospitalNo">
        </td>
      </tr>
      <tr>
        <td>
          <b>Ward</b>
        </td>
        <td>
          <input placeholder="Add Ward" type="text" name="ward" [(ngModel)]="local.ward">
        </td>
      </tr>
      <tr>
        <td>
          <b>Patient Weight (in Kg)
            <span style="color:red">*</span></b>
        </td>
        <td>
          <input placeholder="Add Age" type="number" required name="patientWeight" [(ngModel)]="local.patientWeight">
        </td>
      </tr>
      <tr>
        <td>
          <b>Patient Age (in Years) <span style="color:red">*</span></b>
        </td>
        <td>
          <input placeholder="Add Age" type="number" required name="patientAge" [(ngModel)]="local.patientAge">
        </td>
      </tr>
      <tr>
        <td>
          <b>Prescriber Name</b>
        </td>
        <td>
          <input placeholder="Add Prescriber" type="text" name="prescriber" [(ngModel)]="local.prescriber">
        </td>
      </tr>
    </table>
  </div>
  <div class="footer">
    <button class="picuBtn picuBtnBlue" [disabled]="entryForm.invalid" (click)="dataEntered(entryForm)">Submit</button>
    <button class="picuBtn" (click)="clearData()">Clear</button>
  </div>
</form>
<p class="text-center"> Users of this calculator should have had the required training and should have read the user manual</p>
