<button class="picuBtn topRightBtn" (click)="print1()">Print</button>
      <a  style="float:right"></a>

<patient_details></patient_details>
<div class="picuContent">
  <table class="picuTable">
    <tr>
      <td>
        Name:
      </td>
      <td>
            MRN:
      </td>
    </tr>
  </table>

  <h5>DKA FLUID CALCULATION</h5>
  <table class="picuTable">
    <tr>
      <td>
        <b>Weight: </b>{{weight}}
      </td>
      <td>
        <b>% Dehydration: </b>3 bolous
      </td>
      <td>
        <b>Bolus Volume: </b>{{weight}} mls
        <br> 1.0 mls/kg
      </td>
    </tr>
  </table>

  <h5>Maintenance fluids calculation</h5>
  <table class="picuTable">
    <thead>
      <tr>
        <td>Weight</td>
        <td>ml/kg/day</td>
        <td>mls</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0-10 kg</td>
        <td>100</td>
        <!--condition  -->
        <!-- <td *ngIf="data.Rweight <= 10">{{data.Rweight*100}}kg</td> -->
        <td>{{mls[0]}}</td>
        <!--condition  -->
      </tr>

      <tr>
        <td>10-20 kg</td>
        <td>1000ml+ 50ml per each kg above 10</td>
        <!--conditions  -->
        <!-- <td *ngIf="data.weight >10 && data.weight <=20">{{1000+(data.weight-10)*50}}</td> -->
        <!-- <td *ngIf="data.weight < 10 || data.weight > 20">0</td> -->
        <td>{{mls[1]}}</td>
      </tr>

      <tr>
        <td>20-70 kg</td>
        <td>1500 ml+20ml per each kg above 20</td>
        <!-- <td *ngIf="data.weight > 20 && data.weight <= 70">{{1500+((data.weight)*20)}}</td>    -->
        <!-- <td *ngIf="data.weight < 20 || data.weight > 70">0</td> -->
        <td>{{mls[2]}}</td>
      </tr>
      <tr>
        <td>Over 70 kg</td>
        <td>2500 ml (adult requirment)</td>
        <!--conditions  -->
        <!-- <td *ngIf="data.Rweight > 70">2500</td>  -->
        <!-- <td *ngIf="data.Rweight <= 70">0</td> -->
        <td>{{mls[3]}}</td>
        <!--conditions  -->
      </tr>
    </tbody>
  </table>


  <table class="picuTable" style="margin-top:20px;">
    <tbody>
      <tr>
        <td>Total ml/kg/24 hours</td>
        <!--conditions  -->
        <td>{{totalMls}}</td>

      </tr>

      <tr>
        <td>Total maintenance over 48 hours</td>
        <td>{{totalMls*2}}</td>
      </tr>

      <tr>
        <td> Subtract bolus fluid given</td>
        <td>{{(totalMls*2-300)| number : '1.2-2'}}</td>
      </tr>
      <tr>
        <td> Rehydration value</td>
        <td>{{(weight*4*10)| number : '1.2-2'}}</td>
      </tr>
      <tr>
        <td> Total volume to be given over 48 hours</td>
        <td>{{((totalMls*2-300)+(weight*4*10)) | number : '1.2-2'}}</td>
      </tr>
      <tr>
        <td> Hourly fluid rate</td>
        <td> {{(((totalMls*2-300)+(weight*4*10))/48) | number : '1.2-2'}}</td>
      </tr>
    </tbody>
  </table>

  <h5>Choice of fluid</h5>
  <table class="picuTable">
    <tr>
        <td>
                Start with 0.9% Saline Once BG
                < 17 mmol/l OR falling by>5 mmol/l/hour change to 5% dextrose/0.45% saline
        </td>
    </tr>
  </table>

  <h5>Insulin</h5>
  <table class="picuTable">
    <tr>
        <td>
                Start IV Insulin infusion after 1-2 hours of IV fluids
        </td>
    </tr>
    <tr>
        <td>
                Dilute 50 units Actrapid or Novorapid in 50 mls of 0.9% Saline to make a 1 unit/ml solution
        </td>
    </tr>
  </table>


  <h5 *ngIf="weight<=20" id="insulin">Initial Insulin Rate : {{(weight*0.05)| number : '1.2-2'}}</h5>
  <h5 *ngIf="weight > 20 && weight <= 35" id="insulin">Initial Insulin Rate : {{(weight*0.075)| number : '1.2-2'}}</h5>
  <h5 *ngIf="weight>35" id="insulin">Initial Insulin Rate : {{(weight*0.1)| number : '1.2-2'}}</h5>
  <table class="picuTable">
    <thead>
      <tr>
        <td>Weight</td>
        <td></td>
        <td>mls/hour</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0-20 kg</td>
        <td>0.05 units / kg / hour</td>
        <!--condition  -->
        <td>{{(roundWt*0.05) | number : '1.2-2'}}</td>
      </tr>
      <tr>
        <td>20-35 kg</td>
        <td>0.075 units / kg / hour</td>
        <!--condition  -->
        <td>{{(roundWt*0.075) }}</td>
      </tr>
      <tr>
        <td>>35 kg</td>
        <td>0.1 units / kg / hour</td>
        <!--condition  -->
        <td>{{(roundWt*0.1) | number : '1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
</div>
