/* You can add global styles to this file, and also import other style files */
body{
    background:rgb(235,235,235);
}
#details{
    border: 1px solid #97b714;
    display: -webkit-inline-box;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    margin:5px;
    font-weight: 600;
    color:#6d8800
}

.jumbotron{
    padding-top : 0px !important;   
}

@media print {
    #div_2{
        display: none;
    }
}


/* styles to remove focus */
a { outline: 0; }

a: hover,
a: active,
a: focus { outline: none; }

input::-moz-focus-inner { border: 0; }

:active, :hover, :focus { outline: none !important; }
/* end of focus */


/* styles for tabs */

.tabs{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    top:-10px;
}

.tabs ul{
    list-style:none;
    padding:0px;
    margin:0px;
    display: -webkit-inline-box;
    border:1px solid darkgray;
    border-radius: 5px;
    background:white;
}

.tabs ul li{
    padding:2px 10px;
    font-size: 13px;
    border-color:darkgray;
    border-left: 1px solid;
    cursor: pointer;
    /* border-right: 1px solid; */
}

.tabs ul .active{
    background:linear-gradient(#69b2fa,#046dff);
    color:white;
}

/* end of tabs */


/* style for tab view */
div[tabs]{
    margin:20px 50px;
}

.tabView{
    position: relative;
    padding:50px 30px 50px 30px;
    background:rgb(226,226,226);
    /* display: -webkit-inline-box; */
    /* margin-left: 50%; */
    /* transform: translate(-50%); */
    border:1px solid rgb(230,230,230);
    border-radius: 10px;
}

.tabView .main-content{
    max-height:60vh;
    overflow-y: scroll;
}
/* end for tab view */


/* buttons */

.picuBtn{
    /* border:1px solid darkgray; */
    border-radius:5px;
    padding:0px 20px;
    margin:0px 10px;
    background:rgb(248,248,248);
    box-shadow:0 1px 1px darkgray;
}

.picuBtn:hover{
    background:rgb(290,290,290);
    /* border:1p solid gray; */
}

.picuBtn:active{
    color:white;
  background:linear-gradient(rgb(119,168,248),rgb(72,126,250));  
}

.picuBtnBlue, .picuBtnBlue:hover{
    color:white;
    background:linear-gradient(rgb(119,168,248),rgb(72,126,250));  
}
.picuBtnBlue:active{
    background:linear-gradient(#6aa2fb,rgb(48, 110, 255));  
}

button[disabled]{
    background:#909090;
    color:white;
}

/* end of buttons */


/* Detail Tables */
.picuTable thead{
    text-align: center;
    font-weight: bold;
}
.picuTable td{
    padding:0 10px;
}
.picuTable tr:nth-child(odd){
    background:white;
}

.picuTable tr:nth-child(even){
    background:#f5f5f5;
}
.picuTable tr td{
    outline: 0.3px solid lightgray;
}
/* end of detail Tables */