<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div id="details">
          ETT SIZE : {{data.ETT.size}}
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div id="details">
          ETT ORAL LENGTH :{{data.ETT.oral}}
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div id="details">
          ETT NASAL LENGTH : {{data.ETT.nasal}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="alert alert-warning">
    <ul>
      <li>
        <b> SIGN ONLY FOR THOSE DRUGS REQUIRED FOR INTUBATION.</b>
      </li>
      <li>
        <b>Repeat doses require a second signature for administration. Ensure that all drugs are diluted as indicated below.</b>
      </li>
    </ul>
  </div>

</div>


<div class="container">
  <div class="card">
    <table class="table table-striped">
      <thead>
        <tr style="background-color:#97b714; font-weight:600; color:#fff;">
          <td>Drug & Presentation </td>
          <td>Required dose</td>
          <td>Additional Instructions </td>
          <td>Final concentration</td>
          <td>Dose</td>
          <td>volume</td>
          <td>Route</td>
          <td>Prescriber's signature(Print Name)</td>
          <td>Date & time Given</td>
          <td>Given By</td>
        </tr>
      </thead>
      <tbody>
        <tr class="default">
          <td>Atropine 600mcg/ml</td>
          <td>20microgram/kg
            <br>min dose: 100microgram
            <br>max dose: 600microgram</td>
          <td>Do NOT give less than 100microgram
            <br>Blocks vagal activity, increases heart rate</td>
          <td>100mcg/ml [Dilute to 6ml with 0.9% saline]</td>

          <!-- conditions 1 -->
          <td *ngIf="data['Atropine'] >= 0.1 && data['Atropine'] <= 0.6">{{(data['Atropine']) | number : '1.2-2'}} mg</td>
          <td *ngIf="data['Atropine'] > 0.6">0.06</td>
          <td *ngIf="data['Atropine'] < 0.1">0.1</td>
          <!--condition 2  -->
          <td *ngIf="data['Atropine'] >= 0.1 && data['Atropine'] <= 0.6">{{(data['Atropine']*10) | number : '1.2-2'}} mg</td>
          <td *ngIf="data['Atropine'] > 0.6">{{0.06*10}}</td>
          <td *ngIf="data['Atropine'] < 0.1">{{0.1*10}}</td>
          <!--end of conditions   -->
          <td>IV</td>
          <td>{{local.prescriber}}</td>
          <td></td>
          <td></td>
        </tr>

        <tr class="default">
          <td>Morphine 10mg/ml</td>
          <td>100microgram/kg
            <br>Repeat dose if necessary
            <br>maximum dose = 10mg</td>
          <td></td>
          <td>1mg/ml [Dilute to 10ml with 0.9% saline]</td>
          <!--conditions  -->
          <td>
            <h6>First dose - repeat if necessary
              <br>
              <b *ngIf="data['Morphine'] < 10">{{(data['Morphine']) | number : '1.2-2'}} mg</b>
              <b *ngIf="data['Morphine'] >= 10">10 mg</b>
              <hr>Second dose - must be signed for
              <br>
              <b *ngIf="data['Morphine'] < 10">{{(data['Morphine']) | number : '1.2-2'}} mg</b>
              <b *ngIf="data['Morphine'] >= 10">10 mg</b>
            </h6>
          </td>

          <td>
            <h6>First dose - repeat if necessary
              <br>
              <b *ngIf="data['Morphine'] < 10">{{(data['Morphine']) | number : '1.2-2'}} mg</b>
              <b *ngIf="data['Morphine'] >= 10">10 mg</b>
              <hr>Second dose - must be signed for
              <br>
              <b *ngIf="data['Morphine'] < 10">{{(data['Morphine']) | number : '1.2-2'}} mg</b>
              <b *ngIf="data['Morphine'] >= 10">10 mg</b>
            </h6>
          </td>
          <!--end of conditions  -->
          <td>
            <h6>First dose - repeat if necessary
              <br>
              <b>IV</b>
              <hr>Second dose - must be signed for
              <br>
              <b>IV</b>
            </h6>
          </td>
          <td>{{data.prescriber}}</td>
          <td></td>
          <td></td>
        </tr>

        <tr class="default">
          <td>Fentanyl 50microgram/ml
            <br>2ml ampoule</td>
          <td>2 microgram/kg
            <br>Repeat dose if necessary</td>
          <td>200 mcg maxiumum dose
            <br>Dilute 2ml ampoule to 10 ml
            <br>with 0.9% saline</td>
          <td>10mcg/ml [Dilute to 10ml with 0.9% saline]</td>
          <!--conditions  -->
          <td>
            <h6>First dose - repeat if necessary
              <br>
              <b>{{(data['Fentanyl']) | number : '1.2-2'}} mg</b>
              <hr>Second dose - must be signed for
              <br>
              <b>{{data.weight*0.002}} mg</b>
            </h6>
          </td>

          <td>
            <h6>First dose - repeat if necessary
              <br>
              <b>{{((data['Fentanyl'])*100) | number : '1.2-2'}} mg</b>
              <hr>Second dose - must be signed for
              <br>
              <b>{{((data['Fentanyl'])*100) | number : '1.2-2'}} mg</b>
            </h6>
          </td>
          <!--end of conditions  -->
          <td>
            <h6>First dose - repeat if necessary
              <br>
              <b>IV</b>
              <hr>Second dose - must be signed for
              <br>
              <b>IV</b>
            </h6>
          </td>
          <td>{{local.prescriber}}</td>
          <td></td>
          <td></td>
        </tr>

        <tr class="default">
          <td>Ketamine 50mg/ml
            <hr>Used in hypotensive states and asthma</td>
          <td>2mg/kg</td>
          <td>Do NOT use if seizures or raised ICP
            <hr>Dilute 1ml to 5ml with 0.9% saline
            <hr>BEWARE of different concentrations of ketamine vials</td>
          <td>10mg/ml [dilute to 5ml with 0.9% saline]</td>
          <!--conditions  -->
          <td>{{data['Ketamine']*2}} mg</td>
          <td>{{(data['Ketamine']*2)/10}} ml</td>
          <!--condition end  -->
          <td>IV</td>
          <td>{{local.prescriber}}</td>
          <td></td>
          <td></td>
        </tr>

        <tr class="default">
          <td>Thiopentone 500mg vial</td>
          <td>2 mg/kg
            <br>
            <h5>Repeat dose if necessary
              <br>[for adult weight maximum=500mg]</h5>
          </td>
          <td>Use LOW (1-2mg/kg) dose if cardiovascular instability or hypotensive state. Normal dose 4mg/kg</td>
          <td>25mg/ml
            <br>[Add 20ml WFI to 500mg vial]</td>
          <!--conditions  -->
          <td>
            <h6>First dose - repeat if necessary
              <br>
              <b *ngIf="data['Thiopentone'] < 250">{{data['Thiopentone']}} mg</b>
              <b *ngIf="data['Thiopentone'] >= 250">200 mg</b>
              <hr>Second dose - must be signed for
              <br>
              <b *ngIf="data['Thiopentone'] < 250">{{data['Thiopentone']}} mg</b>
              <b *ngIf="data['Thiopentone'] >= 250">200 mg</b>
            </h6>
          </td>

          <td>
            <h6>First dose - repeat if necessary
              <br>
              <b *ngIf="data['Thiopentone'] < 250">{{((data['Thiopentone'])/25)| number : '1.2-2'}} mg</b>
              <b *ngIf="roundWt*2 >= 250">{{200/25}} mg</b>
              <hr>Second dose - must be signed for
              <br>
              <b *ngIf="data['Thiopentone'] < 250">{{((data['Thiopentone'])/25) | number : '1.2-2'}} mg</b>
              <b *ngIf="roundWt*2 >= 250">{{200/25}} mg</b>
            </h6>
          </td>

          <td>
            <h6>First dose - repeat if necessary
              <br>
              <b>IV</b>
              <hr>Second dose - must be signed for
              <br>
              <b>IV</b>
            </h6>
          </td>
          <td>{{local.prescriber}}</td>
          <td></td>
          <td></td>
        </tr>

        <tr class="default">
          <td>Propofol 1% injection (10mg/ml)</td>
          <td>2.5mg/kg</td>
          <td></td>
          <td>10mg/ml [use neat solution]</td>
          <!--conditions  -->
          <td>{{(data['Propofol'])| number : '1.2-2'}} mg</td>
          <td>{{((data['Propofol'])/10) | number : '1.2-2'}} ml</td>
          <!--conditions end  -->
          <td>IV</td>
          <td>{{local.prescriber}}</td>
          <td></td>
          <td></td>
        </tr>

        <tr class="default">
          <td>Suxamethonium 100mg/2ml</td>
          <td>2mg/kg
            <br>maximum dose = 100mg</td>
          <td>Depolarising muscle relaxant
            <br>Duration: 2-5mins Contraindications:
            <br>Burns/Myopathies/Hyperkalaemia</td>
          <td>10mg/ml [Dilute to 10ml with 0.9% saline]</td>
          <!--conditions  -->
          <td *ngIf="data['Suxamethonium'] < 101">{{data['Suxamethonium']}} mg</td>
          <td *ngIf="data['Suxamethonium'] > 100">100 mg</td>

          <td *ngIf="data['Suxamethonium'] < 101">{{((data['Suxamethonium'])/10)| number : '1.2-2'}} ml</td>
          <td *ngIf="data['Suxamethonium'] > 100">{{100/10}} mg</td>
          <!--end of conditions  -->
          <td>IV</td>
          <td>{{local.prescriber}}</td>
          <td></td>
          <td></td>
        </tr>

        <tr class="default">
          <td>Atracurium 10mg/ml :
            <br>
            <h6>To avoid excessive dosage in obese children, use what is deemed the 'ideal body weight' for the child for atracurium
              dose calculation</h6>
          </td>
          <td>0.5mg/kg :
            <br>
            <h6>To avoid excessive dosage in obese children, use what is deemed the 'ideal body weight' for the child for atracurium
              dose calculation</h6>
          </td>
          <td>Non-depolarising muscle relaxant
            <br>Duration: 15-35mins</td>
          <td>10mg/ml [Use neat solution]</td>
          <!--conditions  -->
          <td>{{(data['Atracurium']) | number : '1.2-2'}} mg</td>
          <td>{{((data['Atracurium'])/10) | number : '1.2-2'}} ml</td>
          <!--end of conditions  -->
          <td>IV</td>
          <td>{{local.prescriber}}</td>
          <td></td>
          <td></td>
        </tr>

        <tr class="default">
          <td>Rocuronium 10mg/ml</td>
          <td>1mg/kg</td>
          <td>Non-depolarising muscle relaxant
            <br>Duration: 30-40mins</td>
          <td>10mg/ml [use neat solution]</td>
          <!--conditions  -->
          <td>{{(roundWt) | number : '1.2-2'}}mg</td>
          <td>{{((roundWt)/10) | number : '1.2-2'}} ml</td>
          <!--condtions End  -->
          <td>IV</td>
          <td>{{local.prescriber}}</td>
          <td></td>
          <td></td>
        </tr>


        <tr class="default">
          <td>Midazolam 10mg/2ml</td>
          <td>100 microgram/kg</td>
          <td>Adult Maxium does is 5mg given in 2 min
            <br>intervals. For intubation this drug isused as an
            <br>adjunct rather than the sole drug of choice</td>
          <td>1mg/ml [Dilute to 10ml with 0.9% saline]</td>

          <td>{{(data['Midazolam'] ) | number : '1.2-2'}} mg</td>
          <td>{{(data['Midazolam']) | number : '1.2-2'}} ml</td>

          <td>IV</td>
          <td>{{local.prescriber}}</td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>