
          <div class="subTabs">
                  <ul id="nav-bar">
                      <li [class.active]="currentTable == 'opiates'" (click)="showTable('opiates')">OPIATES/SEDATIVE</li>
                      <li [class.active]="currentTable == 'mr'" (click)="showTable('mr')">MUSCLE RELAXANTS</li>
                      <li [class.active]="currentTable == 'vm'" (click)="showTable('vm')">VASOACTIVE MEDICATION</li>
                      <li [class.active]="currentTable == 'am'" (click)="showTable('am')">ASTHMA MEDICATION</li>
                  </ul>
              </div>


<div class="patient-details media">
          <table class="center">
              <tr>
                <td>ETT SIZE:</td>
                <td>{{data['ETT']['size']}}</td>
              </tr>
              <tr>
                <td>ETT ORAL LENGTH:</td>
                <td>{{data['ETT']['oral']}}</td>
              </tr>
              <tr>
                  <td>ETT NASAL LENGTH:</td>
                  <td>{{data['ETT']['nasal']}}</td>
                </tr>
            </table>
    </div>
    <div class="patient-details print">
        <table class="center">
            <tr>
              <td>ETT SIZE:{{data['ETT']['size']}}</td>
              <td>ETT ORAL LENGTH:{{data['ETT']['oral']}}</td>
              <td>ETT NASAL LENGTH:{{data['ETT']['nasal']}}</td>
            </tr>
          </table>
  </div>

  <div class="media">
    <div *ngIf="currentTable == 'opiates'">
    <h5>OPIATES/SEDATIVE</h5>
    <table class="picuTable">
      <thead>
        <tr>
          <td>Drug Solution</td>
          <td>ml of Drug solution</td>
          <td>Concentration</td>
          <td>Total drug (mg) in syringe</td>
          <td>Fluid</td>
          <td>Total Volume (ml)</td>
          <td>Dose Range</td>
          <td>Infusion range/rate range in ml/hr</td>
          <td>Doctors Signature</td>
          <td>Batch Number</td>
          <td>Added/ Checked</td>
          <td>Start time</td>
          <td>Finish Time</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Morphine 10mg/ml</td>
          <!--conditions  -->
          <td>{{roundWt < 50 ? roundWt/10 : 5 }}</td>
          
          <!--condition 1 end  -->
          <td>1mg/kg (max 50mg)</td>
          <!--condition2  -->
          <td>{{roundWt < 50 ? roundWt : 50 }}</td>
          
          <!--condition2 end  -->
          <td>5% Glucose or Nacl 0.9%</td>
          <td>50ml</td>
          <td>20 - 80 microgram/kg/hr</td>
          <td>1ml/hr = 20 microgram/kg/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Midazolam 15mg/3ml</td>
          <!--condition1  -->
          <td>{{((roundWt < 40 ? roundWt*6 : roundWt*3 )/5) | number : '1.2-2'}}</td>
          <!--condition1 end  -->
          <td>40kg: 6mg/kg >40kg: 3mg/kg</td>
          <!--condition2  -->
          <td>{{roundWt < 40 ? roundWt*6 : roundWt*3}}</td>
          
          <!--conditon2 end  -->
          <td>5% Glucose or Nacl 0.9%</td>
          <td>50 ml</td>
          <td>120-360 microgram/kg/hour </td>
          <td>1ml/hr = 60 microgram/kg/hour<br>2ml/hr = 120 microgram/kg/hour</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Fentanyl 100mcg/2ml</td>
          <!--condition 1  -->
          <td>{{((data['Fentanyl'])*1000/50) }}</td>
          <!--condition 1 end  -->
          <td></td>
          <!--condition 2  -->
          <td>{{(data['Fentanyl'])}}</td>
          <!--condition 2 end  -->
          <td>5% Glucose or Nacl 0.9%</td>
          <td>50 ml</td>
          <td>1-5 microgram/kg/hour</td>
          <td>1ml/hr = 2.5 microgram/kg/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Ketamine 10mg/ml</td>
          <td>5</td>
          <td>50 mg in 50 mls Glu 5% or NaCl 0.9%</td>
          <td>50</td>
          <td>50 mg in 50 mls Glu 5% or NaCl 0.9%</td>
          <td>50 ml</td>
          <td>10 - 45 microgram/kg/min </td>
          <td>0.6 ml/kg/hr = 10 microgram/kg/min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>



        <tr>
          <td>Clonidine</td>
          <td></td>
          <td></td>
          <!--condition -->
          <td>{{(roundWt*0.025)}}</td>
          <!--condion end   -->
          <td>5% Glucose</td>
          <td>50 ml</td>
          <td>0.5-2 microgram/kg/hr</td>
          <td>1ml/hr = 0.5 microgram/kg/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- end of containr2  -->

  <!--container 3 -->
  <!--table2 -->
  <div *ngIf="currentTable == 'mr'">
    <h5>MUSCLE RELAXANTS</h5>
    <table class="picuTable">
      <thead>
        <tr>
          <td>Drug</td>
          <td>ml of Drug solution</td>
          <td>Concentration</td>
          <td>Total drug (mg) in syringe</td>
          <td>Fluid</td>
          <td>Total Volume (ml)</td>
          <td>Dose Range</td>
          <td>Dose range/rate range in ml/hr</td>
          <td>Doctors Signature</td>
          <td>Batch Number</td>
          <td>Added/ Checked</td>
          <td>Start time</td>
          <td>Finish Time</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Atracurium 500mg/5ml</td>
          <td>2.5</td>
          <td></td>
          <td>250</td>
          <td>0.9% Saline or 5% Dextrose</td>
          <td>25 ml</td>
          <td>0.5 - 1 mg/kg/hr</td>
          <td>0.05 ml/kg/hr = 0.5mg/kg/hour</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Atracurium 500mg/5ml</td>
          <td>2.5</td>
          <td></td>
          <td>250</td>
          <td>0.9% Saline or 5% Dextrose</td>
          <td>50 ml</td>
          <td>0.5 - 1 mg/kg/hr</td>
          <td>0.05 ml/kg/hr = 0.5mg/kg/hour</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td colspan="13">Rocuronium</td>
        </tr>

      </tbody>
    </table>
  </div>
  <!--table 2 end -->
  <!--Container 3 end  -->


  <!--container 4 -->
  <!--table3 -->
  <div *ngIf="currentTable == 'vm'">
    <h5>VASOACTIVE MEDICATION</h5>
    <table class="picuTable">
      <thead>
        <tr>
          <td>Drug</td>
          <td>ml of Drug solution</td>
          <td>Concentration</td>
          <td>Total drug (mg) in syringe</td>
          <td>Fluid</td>
          <td>Total Volume (ml)</td>
          <td>Dose Range</td>
          <td>Dose range/rate range in ml/hr</td>
          <td>Doctors Signature</td>
          <td>Batch Number</td>
          <td>Added/ Checked</td>
          <td>Start time</td>
          <td>Finish Time</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Epinephrine <b>Central Unless In Extreme circumstances</b></td>
          <td></td>
          <td></td>
          <!--condition  -->
          <td>{{(roundWt*0.3) | number : '1.2-2'}}</td>
          <!--condition  -->
          <td>5% Dextrose</td>
          <td>50 ml</td>
          <td> 0.1-1 microgram/kg/min</td>
          <td>1ml/hr = 0.1 microgram/kg/min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Norepinephrine <b> Central Line</b></td>
          <td></td>
          <td></td>
          <!--condition-->
          <td>{{(roundWt*0.3) | number : '1.2-2'}}</td>
          <!--condition end  -->
          <td>5% Dextrose</td>
          <td>50 ml</td>
          <td> 0.1-1 microgram/kg/min</td>
          <td>1ml/hr = 0.1 microgram/kg/min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Dopamine <b>Peripheral</b></td>
          <td></td>
          <td>
            <10 kg: 6mg/kg</td>
              <!--condition-->
              <td>{{(roundWt*6) | number : '1.2-2'}}</td>
              <!--condition end  -->
              <td>5% Dextrose</td>
              <td>50 ml</td>
              <td>1ml/hr = 2 microgram/kg/min</td>
              <td>1.0-2.0ml/hr</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
        </tr>

        <tr>
          <td>Dopamine Peripheral</td>
          <td></td>
          <td>> 10 kg: 3mg/kg</td>
          <!--condition-->
          <td>{{(roundWt*3) | number : '1.2-2'}}</td>
          <!--condition end  -->
          <td>5% Dextrose</td>
          <td>50 ml</td>
          <td>1ml/hr = 1 microgram/kg/min</td>
          <td>1.0-2.0ml/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td>Dopamine <b>Central Line</b></td>
          <td></td>
          <td></td>
          <!--condition-->
          <td>{{(roundWt*15) | number : '1.2-2'}}</td>
          <!--condition end  -->
          <td>5% Dextrose</td>
          <td>50 ml</td>
          <td>1ml/hr = 5 microgram/kg/min</td>
          <td>1.0-2.0ml/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Dobutamine <b>Peripheral Line</b></td>
          <td></td>
          <td>
            < 10 kg: 6mg/kg</td>
              <!--condition-->
              <td>{{(roundWt*6) | number : '1.2-2'}}</td>
              <!--condition end  -->
              <td>5% Dextrose</td>
              <td>50 ml</td>
              <td>1ml/hr = 2 microgram/kg/min</td>
              <td>1.0-2.0ml/hr</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
        </tr>

        <tr>
          <td>Dobutamine <b>Peripheral Line</b></td>
          <td></td>
          <td> > 10 kg: 3mg/kg</td>
          <!--condition-->
          <td>{{(roundWt*3) | number : '1.2-2'}}</td>
          <!--condition end  -->
          <td>5% Dextrose</td>
          <td>50 ml</td>
          <td>1ml/hr = 1 microgram/kg/min</td>
          <td>1.0-2.0ml/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Dobutamine <b>Central Line</b></td>
          <td></td>
          <td></td>
          <!--condition-->
          <td>{{(roundWt*15) | number : '1.2-2'}}</td>
          <!--condition end  -->
          <td>5% Dextrose</td>
          <td>50 ml</td>
          <td>1ml/hr = 5 microgram/kg/min</td>
          <td>1.0-2.0ml/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--table 3 end -->
  <!--Container 4 end  -->


  <!--container 5  -->
  <!--table 4  -->
  <div *ngIf="currentTable == 'am'">
    <h5>Asthma MEDICATION</h5>
    <table class="picuTable">
      <thead>
        <tr>
          <td>Drug</td>
          <td>ml of Drug solution</td>
          <td>Concentration</td>
          <td>Total drug (mg) in syringe</td>
          <td>Fluid</td>
          <td>Total Volume (ml)</td>
          <td>Dose Range</td>
          <td>Dose range/rate range in ml/hr</td>
          <td>Doctors Signature</td>
          <td>Batch Number</td>
          <td>Added/ Checked</td>
          <td>Start time</td>
          <td>Finish Time</td>

        </tr>
      </thead>
      <tbody>

        <tr>
          <td>Salbutamol 2.5 mg/2.5 ml</td>
          <td>10</td>
          <td>Diluted</td>
          <td>10</td>
          <td>10mg in 50mls total 5% Dextrose or 0.9% Saline</td>
          <td>50ml</td>
          <td>1-5 microgram/kg/min for 1 hour </td>
          <td>Wt (kg) x 0.3 as ml/hr = 1microgram/kg/min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td>Salbutamol 2.5 mg/2.5 ml Central</td>
          <td>50</td>
          <td>Neat</td>
          <td>50</td>
          <td>Neat</td>
          <td>50ml</td>
          <td>5-10 microgram/kg/min for 1 hour then 1-2 microgram/kg/min</td>
          <td>0.3-0.6 ml/kg/hr for 1 hour then 0.06-0.12 ml/kg/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td>Aminophylline 25mg/ml Loading Dose</td>
          <td>2</td>
          <td></td>
          <td>50</td>
          <td>5% Dextrose</td>
          <td>50ml</td>
          <td>5 mg/kg (max 500mg) FIRST HOUR ONLY</td>
          <td>1ml/kg/hr = 1mg/kg/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td>Aminophylline 25mg/ml Maintenance</td>
          <td>2</td>
          <td></td>
          <td>50</td>
          <td>5% Dextrose</td>
          <td>50ml</td>
          <td>1mg/kg/hr</td>
          <td>1ml/kg/hr = 1mg/kg/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Ketamine</td>
          <td>See</td>
          <td>Above</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table> 
  </div>
  </div>



  <div class="print">
    <div>
    <h5>OPIATES/SEDATIVE</h5>
    <table class="picuTable">
      <thead>
        <tr>
          <td>Drug Solution</td>
          <td>ml of Drug solution</td>
          <td>Concentration</td>
          <td>Total drug (mg) in syringe</td>
          <td>Fluid</td>
          <td>Total Volume (ml)</td>
          <td>Dose Range</td>
          <td>Infusion range/rate range in ml/hr</td>
          <td>Doctors Signature</td>
          <td>Batch Number</td>
          <td>Added/ Checked</td>
          <td>Start time</td>
          <td>Finish Time</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Morphine 10mg/ml</td>
          <!--conditions  -->
          <td>{{roundWt < 50 ? roundWt/10 : 5 }}</td>
          
          <!--condition 1 end  -->
          <td>1mg/kg (max 50mg)</td>
          <!--condition2  -->
          <td>{{roundWt < 50 ? roundWt : 50 }}</td>
          
          <!--condition2 end  -->
          <td>5% Glucose or Nacl 0.9%</td>
          <td>50ml</td>
          <td>20 - 80 microgram/kg/hr</td>
          <td>1ml/hr = 20 microgram/kg/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Midazolam 15mg/3ml</td>
          <!--condition1  -->
          <td>{{((roundWt < 40 ? roundWt*6 : roundWt*3 )/5) | number : '1.2-2'}}</td>
          <!--condition1 end  -->
          <td>40kg: 6mg/kg >40kg: 3mg/kg</td>
          <!--condition2  -->
          <td>{{roundWt < 40 ? roundWt*6 : roundWt*3}}</td>
          
          <!--conditon2 end  -->
          <td>5% Glucose or Nacl 0.9%</td>
          <td>50 ml</td>
          <td>120-360 microgram/kg/hour </td>
          <td>1ml/hr = 60 microgram/kg/hour<br>2ml/hr = 120 microgram/kg/hour</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Fentanyl 100mcg/2ml</td>
          <!--condition 1  -->
          <td>{{((data['Fentanyl'])*1000/50) }}</td>
          <!--condition 1 end  -->
          <td></td>
          <!--condition 2  -->
          <td>{{(data['Fentanyl'])}}</td>
          <!--condition 2 end  -->
          <td>5% Glucose or Nacl 0.9%</td>
          <td>50 ml</td>
          <td>1-5 microgram/kg/hour</td>
          <td>1ml/hr = 2.5 microgram/kg/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Ketamine 10mg/ml</td>
          <td>5</td>
          <td>50 mg in 50 mls Glu 5% or NaCl 0.9%</td>
          <td>50</td>
          <td>50 mg in 50 mls Glu 5% or NaCl 0.9%</td>
          <td>50 ml</td>
          <td>10 - 45 microgram/kg/min </td>
          <td>0.6 ml/kg/hr = 10 microgram/kg/min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>



        <tr>
          <td>Clonidine</td>
          <td></td>
          <td></td>
          <!--condition -->
          <td>{{(roundWt*0.025)}}</td>
          <!--condion end   -->
          <td>5% Glucose</td>
          <td>50 ml</td>
          <td>0.5-2 microgram/kg/hr</td>
          <td>1ml/hr = 0.5 microgram/kg/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- end of containr2  -->

  <!--container 3 -->
  <!--table2 -->
  <div>
    <h5>MUSCLE RELAXANTS</h5>
    <table class="picuTable">
      <thead>
        <tr>
          <td>Drug</td>
          <td>ml of Drug solution</td>
          <td>Concentration</td>
          <td>Total drug (mg) in syringe</td>
          <td>Fluid</td>
          <td>Total Volume (ml)</td>
          <td>Dose Range</td>
          <td>Dose range/rate range in ml/hr</td>
          <td>Doctors Signature</td>
          <td>Batch Number</td>
          <td>Added/ Checked</td>
          <td>Start time</td>
          <td>Finish Time</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Atracurium 500mg/5ml</td>
          <td>2.5</td>
          <td></td>
          <td>250</td>
          <td>0.9% Saline or 5% Dextrose</td>
          <td>25 ml</td>
          <td>0.5 - 1 mg/kg/hr</td>
          <td>0.05 ml/kg/hr = 0.5mg/kg/hour</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Atracurium 500mg/5ml</td>
          <td>2.5</td>
          <td></td>
          <td>250</td>
          <td>0.9% Saline or 5% Dextrose</td>
          <td>50 ml</td>
          <td>0.5 - 1 mg/kg/hr</td>
          <td>0.05 ml/kg/hr = 0.5mg/kg/hour</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td colspan="13">Rocuronium</td>
        </tr>

      </tbody>
    </table>
  </div>
  <!--table 2 end -->
  <!--Container 3 end  -->


  <!--container 4 -->
  <!--table3 -->
  <div>
    <h5>VASOACTIVE MEDICATION</h5>
    <table class="picuTable">
      <thead>
        <tr>
          <td>Drug</td>
          <td>ml of Drug solution</td>
          <td>Concentration</td>
          <td>Total drug (mg) in syringe</td>
          <td>Fluid</td>
          <td>Total Volume (ml)</td>
          <td>Dose Range</td>
          <td>Dose range/rate range in ml/hr</td>
          <td>Doctors Signature</td>
          <td>Batch Number</td>
          <td>Added/ Checked</td>
          <td>Start time</td>
          <td>Finish Time</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Epinephrine <b>Central Unless In Extreme circumstances</b></td>
          <td></td>
          <td></td>
          <!--condition  -->
          <td>{{(roundWt*0.3) | number : '1.2-2'}}</td>
          <!--condition  -->
          <td>5% Dextrose</td>
          <td>50 ml</td>
          <td> 0.1-1 microgram/kg/min</td>
          <td>1ml/hr = 0.1 microgram/kg/min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Norepinephrine <b> Central Line</b></td>
          <td></td>
          <td></td>
          <!--condition-->
          <td>{{(roundWt*0.3) | number : '1.2-2'}}</td>
          <!--condition end  -->
          <td>5% Dextrose</td>
          <td>50 ml</td>
          <td> 0.1-1 microgram/kg/min</td>
          <td>1ml/hr = 0.1 microgram/kg/min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Dopamine <b>Peripheral</b></td>
          <td></td>
          <td>
            <10 kg: 6mg/kg</td>
              <!--condition-->
              <td>{{(roundWt*6) | number : '1.2-2'}}</td>
              <!--condition end  -->
              <td>5% Dextrose</td>
              <td>50 ml</td>
              <td>1ml/hr = 2 microgram/kg/min</td>
              <td>1.0-2.0ml/hr</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
        </tr>

        <tr>
          <td>Dopamine Peripheral</td>
          <td></td>
          <td>> 10 kg: 3mg/kg</td>
          <!--condition-->
          <td>{{(roundWt*3) | number : '1.2-2'}}</td>
          <!--condition end  -->
          <td>5% Dextrose</td>
          <td>50 ml</td>
          <td>1ml/hr = 1 microgram/kg/min</td>
          <td>1.0-2.0ml/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td>Dopamine <b>Central Line</b></td>
          <td></td>
          <td></td>
          <!--condition-->
          <td>{{(roundWt*15) | number : '1.2-2'}}</td>
          <!--condition end  -->
          <td>5% Dextrose</td>
          <td>50 ml</td>
          <td>1ml/hr = 5 microgram/kg/min</td>
          <td>1.0-2.0ml/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Dobutamine <b>Peripheral Line</b></td>
          <td></td>
          <td>
            < 10 kg: 6mg/kg</td>
              <!--condition-->
              <td>{{(roundWt*6) | number : '1.2-2'}}</td>
              <!--condition end  -->
              <td>5% Dextrose</td>
              <td>50 ml</td>
              <td>1ml/hr = 2 microgram/kg/min</td>
              <td>1.0-2.0ml/hr</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
        </tr>

        <tr>
          <td>Dobutamine <b>Peripheral Line</b></td>
          <td></td>
          <td> > 10 kg: 3mg/kg</td>
          <!--condition-->
          <td>{{(roundWt*3) | number : '1.2-2'}}</td>
          <!--condition end  -->
          <td>5% Dextrose</td>
          <td>50 ml</td>
          <td>1ml/hr = 1 microgram/kg/min</td>
          <td>1.0-2.0ml/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Dobutamine <b>Central Line</b></td>
          <td></td>
          <td></td>
          <!--condition-->
          <td>{{(roundWt*15) | number : '1.2-2'}}</td>
          <!--condition end  -->
          <td>5% Dextrose</td>
          <td>50 ml</td>
          <td>1ml/hr = 5 microgram/kg/min</td>
          <td>1.0-2.0ml/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--table 3 end -->
  <!--Container 4 end  -->


  <!--container 5  -->
  <!--table 4  -->
  <div>
    <h5>Asthma MEDICATION</h5>
    <table class="picuTable">
      <thead>
        <tr>
          <td>Drug</td>
          <td>ml of Drug solution</td>
          <td>Concentration</td>
          <td>Total drug (mg) in syringe</td>
          <td>Fluid</td>
          <td>Total Volume (ml)</td>
          <td>Dose Range</td>
          <td>Dose range/rate range in ml/hr</td>
          <td>Doctors Signature</td>
          <td>Batch Number</td>
          <td>Added/ Checked</td>
          <td>Start time</td>
          <td>Finish Time</td>

        </tr>
      </thead>
      <tbody>

        <tr>
          <td>Salbutamol 2.5 mg/2.5 ml</td>
          <td>10</td>
          <td>Diluted</td>
          <td>10</td>
          <td>10mg in 50mls total 5% Dextrose or 0.9% Saline</td>
          <td>50ml</td>
          <td>1-5 microgram/kg/min for 1 hour </td>
          <td>Wt (kg) x 0.3 as ml/hr = 1microgram/kg/min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td>Salbutamol 2.5 mg/2.5 ml Central</td>
          <td>50</td>
          <td>Neat</td>
          <td>50</td>
          <td>Neat</td>
          <td>50ml</td>
          <td>5-10 microgram/kg/min for 1 hour then 1-2 microgram/kg/min</td>
          <td>0.3-0.6 ml/kg/hr for 1 hour then 0.06-0.12 ml/kg/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td>Aminophylline 25mg/ml Loading Dose</td>
          <td>2</td>
          <td></td>
          <td>50</td>
          <td>5% Dextrose</td>
          <td>50ml</td>
          <td>5 mg/kg (max 500mg) FIRST HOUR ONLY</td>
          <td>1ml/kg/hr = 1mg/kg/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td>Aminophylline 25mg/ml Maintenance</td>
          <td>2</td>
          <td></td>
          <td>50</td>
          <td>5% Dextrose</td>
          <td>50ml</td>
          <td>1mg/kg/hr</td>
          <td>1ml/kg/hr = 1mg/kg/hr</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Ketamine</td>
          <td>See</td>
          <td>Above</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table> 
  </div>
  </div>
