#details{
    border: 1px solid #97b714;
    display: -webkit-inline-box;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    margin:5px;
    font-weight: 600;
    color:#6d8800
}