
.patient-details{
    margin:10px;
}
.patient-details table{
    border:1px solid rgb(196,196,196);
}
.patient-details tr:nth-child(odd){
    background:white;
}
.patient-details tr:nth-child(even){
    background:#f5f5f5;
}

.patient-details tr td{
    padding:1px 5px;
}