.header{
    padding:3px 15px;
    background: linear-gradient(#dad9d9,#adacac);
    display:flex;
    justify-content: space-between;
}

.header button img{
    height: 17px;
}

#h2_1{
    font-weight: 700;
    color: white;
}
#h6_1{
    color:#fff;
    font-weight:600;
}

.footer{
    color:#fff;
    padding:50px;
    background-color: #97b714;    
}
#footer{
    color:#fff;
    font-weight:700;
    text-align: left;
}
