<div style="overflow:hidden">

    <div class="col-sm-4" style="text-align:center"> <strong>Ventricular Fibrillation and Pulseless Ventricular Tachycardia</strong>
        <div id="canvas"></div>
    </div>
    <div class="col-sm-8" style="text-align:center">
        <strong> Supraventricular Tachycardia </strong>
        <div id="canvas1"></div>
    </div>
</div>
<div style="overflow:hidden">
<div class="col-sm-4" style="text-align:center">
    <strong> Asystole and PEA </strong>
     <div id="canvas2"></div>
</div>
</div>