
<div class="patient-details">
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-4">
        <table class="pull-right print-left">
            <tbody>
                <tr></tr>
                    <tr>
                            <td><b>Drug</b></td>
                            <td><b>Dose</b></td>
                            <td><b>Dose to be Given</b></td>
                        </tr>
                <tr>
                    <td>Epinephrine 1:10,000</td>
                    <td>10mcg/kg (0.1ml/kg)</td>
                    <td>{{this.data['doseToGiven']['epinephrine']}} micrograms</td>
                </tr>
                <tr>
                    <td>Amiodarone</td>
                    <td>5mg/kg (max 300mg)</td>
                    <td> {{this.data['doseToGiven']['amiodarone']}} micrograms </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-8 print-right">
        <table>
            <tr>
                <td>
                    Warning! Please ensure patients are sedated or anaesthetised for cardioversion, unless patient already unconscious
                </td>
            </tr>
            <tr>
                <td>
                    REMEMBER TO RECORD ECG CHANGES ON MACHINE ESP WHEN GIVING TREATMENT
                </td>
            </tr>
            <tr>
                <td>
                    FOR DRUG DOSES PLEASE SEE RESUS DRUGS PAGE
                </td>
            </tr>
        </table>
    </div>
</div>
</div>
    
<div class="flex">
        <div class="left">
            <div class="tabCol">
                <ul>
                    <li [class.active]="sheetValue=='vf'" (click)="openSheet('vf')">VENTRICULAR FIBRILLATION AND PULSELESS VENTRICULAR TACHYCARDIA</li>
                    <li [class.active]="sheetValue=='ap'" (click)="openSheet('ap')">ASYSTOLE AND PEA</li>
                    <li [class.active]="sheetValue=='st'" (click)="openSheet('st')">SUPRAVENTRICULAR TACHYCARDIA</li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="sheet" [hidden]="sheetValue=='st' || sheetValue=='ap'">
                <h5>Ventricular Fibrillation and Pulseless Ventricular Tachycardia</h5>
                    <div id="canvas"></div>
            </div>
            <div class="sheet" [hidden]="sheetValue=='vf' || sheetValue=='st'">
                    <h5>Asystole and PEA</h5>
                    <div  id="canvas2"></div>
            </div>
            <div class="sheet" [hidden]="sheetValue=='ap' || sheetValue=='vf'">
                    <h5>Supraventricular Tachycardia</h5>
                    <div  id="canvas1" ></div>
            </div>
            
        </div>
    </div>
    
